/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #f8f8f8;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info, .social-icons {
    display: flex;
    align-items: center;
}

.contact-info > div, .social-icons > a {
    margin: 0 10px;
}

.social-icons a {
    color: #000; /* Cambia el color de los iconos */
    margin: 0 10px; /* Añade espacio entre los iconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 24px; /* Cambia el tamaño de los iconos */
}

.social-icons a:hover {
    color: #007bff; /* Cambia el color al pasar el ratón por encima */
}

.nav-bar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 50px; /* Ajustado para que no deforme */
    height: auto; /* Mantener la proporción */
}

.nav-links {
    display: flex;
}

.dropdown {
    position: relative;
    margin: 0 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.afiliar-btn {
    background-color: #ffd700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para la sección de la imagen Nakayama */
.image-section {
    text-align: center; /* Centrar el contenido */
    margin: 20px 0; /* Espaciado arriba y abajo */
}

.section-image {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    max-width: 800px; /* Máximo ancho de la imagen */
    height: auto; /* Mantener la relación de aspecto */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-content {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear a la izquierda */
    }

    .nav-links {
        width: 100%; /* Hacer que los enlaces ocupen todo el ancho */
        margin-top: 10px; /* Margen superior */
    }

    .afiliar-btn {
        width: 100%; /* Botón de afiliación a ancho completo */
        margin-top: 10px; /* Margen superior */
    }

    .logo {
        width: 40px; /* Ajustar el tamaño del logo en pantallas pequeñas */
    }

    .social-icons a {
        font-size: 20px; /* Reducir tamaño de los íconos en pantallas pequeñas */
    }
}
